#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=google-calendar-svgrepo-com.svg
Exec=firefox -new-window https://calendar.google.com/calendar/u/0/r 
Name=Google Calendar
Categories=Application;WebApps;

