#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=keep.png
Exec=firefox -new-window https://keep.google.com/
Name=Keep
Categories=Application;WebApps;

