#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=protonmail-favicon.svg
Exec=firefox -new-window https://mail.proton.me/u/0/inbox 
Name=Proton Mail
Categories=Application;WebApps;

