#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=protoncalendar-favicon.svg
Exec=firefox -new-window https://calendar.proton.me/u/0/
Name=Proton Calendar
Categories=Application;WebApps;

