#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=protondrive-favicon.svg
Exec=firefox -new-window https://drive.proton.me/u/0/
Name=Proton Drive
Categories=Application;WebApps;

